{% extends 'BhBundle::base.html.twig' %}

{% block body %}
<div class="container">
	<h2>Support charity</h2>
	<p>
		Donate charity to achieve bonus points.
	</p>
	<form method="post">
		<div id="checkout" class="fleft"></div>
		<div class="fleft">
			<label>Email
			<input type="text" name="email" {% if user %}value="{{ user.email }}" {% endif %} />
			</label>
			<label>Amount
			<input type="text" name="amount" />
			</label>
			<input type="submit" />
		</div>
		<div class="clearfix"></div>
	</form>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script type="application/javascript">
braintree.setup("{{ token }}", "dropin", {
	  container: "checkout"
});
</script>
{% endblock %}
