{% extends 'BhBundle::base.html.twig' %}

{% block body %}
<div class="container">
<h2>Donation success</h2>
<p>Thank you for supporting charity! In exchange for donation you received <strong>{{ points }} point(s)</strong>.</p>
</div>
{% endblock %}

