/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* IMPORTS */
@import "compass/css3/opacity";
 
/* COLORS */
$list-color: rgba(0, 0, 0, 0.5);
$list-color-darker: rgba(0, 0, 0, 0.2);
$list-color-lighter: rgba(255, 255, 255, 0.2);
$page-background: #F5EAC0;
$page-background-lighter: rgba(255, 255, 255, 0.4);
$page-background-darker: #408656;
$font-color-darker: rgba(0, 0, 0, 0.8);
$font-color-lighter: rgba(0, 0, 0, 0.6);
$container-background: #4bb873, #7c4bb8, #b877c9, #b8954b, #b84b4b, #4bb3b8;
$main-menu-background: teal;

/* SIZES */
$page-font-size: 20px;
$page-width: 1024px;
$min-page-width: 1024px;


@mixin full-page-width($padding-top, $padding-bottom) {
	min-width: $min-page-width;
	width: 100%;
	margin: 0 auto;
	padding: $padding-top 16% $padding-bottom;
	box-sizing: border-box;
}

img.opaque {
	@include opacity(0.3);
}

#checkout {
	width: 300px;
	padding: 20px;
	background: white;
	border-radius: 8px;
	margin-top: 28px;
	margin-right: 32px;
}

form {
	label {
		display: block;
		line-height: 24px;
	}
	
	input[type="text"] {
		display: block;
		min-width: 300px;
		background-color: rgba(255, 255, 255, 0.9);
		height: 32px;
		font-size: 20px;
		font-family: 'Open Sans Condensed', sans-serif;
		padding: 11px 16px;
		line-height: 32px;
		border-radius: 8px;
		margin: 4px 0 16px;
	}
	
	input[type="submit"] {
		display: block;
		background-color: rgba(255, 255, 255, 0.4);
		font-size: 20px;
		font-family: 'Open Sans', sans-serif;
		padding: 16px;
		line-height: 32px;
		border-radius: 8px;
		margin: 16px 0 0;
		margin-left: auto;
	}
}

.round-number {
	width: 22px;
	height: 22px;
	background: #8a8072;
	border-radius: 20px;
	border: 3px solid #797064;
	border-right-color: #9b948b;
	border-bottom-color: #9b948b;
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	color: white;
	font-family: 'Courier New', monospace;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 0px 1px #9b948b,
				inset -6px -6px 6px rgba(255, 255, 255, 0.1);
}

.badge {
	display: block;
	overflow: hidden;
	width: 100px;
	height: 100px;
	background-color: transparent;
	background-image: url(../images/badge_bronze_bg.png);
	background-position: center center;
	position: relative;
	
	 > .round-number {
		position: absolute;
		bottom: 5px;
		left: 10px;
	}
	
	&.silver {
		background-image: url(../images/badge_silver_bg.png);

		> .round-number {
			background: #72858a;
			border-color: #647479;
			border-right-color: #8b979b;
			border-bottom-color: #8b979b;
			box-shadow: 0px 0px 0px 1px #8b979b,
						inset -6px -6px 6px rgba(255, 255, 255, 0.1);
		}
	}
	
	&.gold {
		background-image: url(../images/badge_gold_bg.png);

		> .round-number {
			background: #c8a034;
			border-color: #af8c2d;
			border-right-color: #c3a962;
			border-bottom-color: #c3a962;
			box-shadow: 0px 0px 0px 1px #c3a962,
						inset -6px -6px 6px rgba(255, 255, 255, 0.1);
		}
	}
	
	&.pink {
		background-image: url(../images/badge_pink_bg.png);

		> .round-number {
			background: #c300c3;
			border-color: #ab00ab;
			border-right-color: #c040c0;
			border-bottom-color: #c040c0;
			box-shadow: 0px 0px 0px 1px #c040c0,
						inset -6px -6px 6px rgba(255, 255, 255, 0.1);
		}
	}
}


* {
	line-height: 1;
	position: relative;
	margin: 0;
	border: 0 none;
	outline: none;
	padding: 0;
	background-repeat: no-repeat;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: $page-font-size;
	background-color: $page-background;
	overflow-y: scroll;
}

div.container {
	@include full-page-width(64px, 64px);
	
	@for $i from 1 through length($container-background) {
		&:nth-of-type(#{$i}n) {
			background-color: nth($container-background, $i);
		}
	}
	
	&.page-head {
		background-image: url(../images/favourhood-top-banner.png);
		background-position: calc(20% - 300px) 0;
		height: 256px;
	}
	
	&.page-footer {

	
	}
	
	.column-3 {
		width: calc(33.3333% - 16px);
		margin: 0 8px;
	}
}

ul.main-menu {
	@include full-page-width(0px, 0px);
	background-color: $page-background-darker;
	text-align: center;

	li {
		display: inline-block;
	
		a {
			display: block;
			line-height: 64px;
			padding: 0 16px;
			font-size: $page-font-size * 2;
			text-decoration: none;
			font-family: 'Open Sans', sns-serif;
			font-weight: 400;
			color: tint($page-background, 40);
			
			&:hover {
				background-color: shade($page-background-darker, 16);
			}
		}
	
	}

}

h1 {
	color: #004339;
	font-family: 'Lobster', cursive;
	font-size: 128px;
	text-align: right;
	margin: 0;
	text-shadow: 4px 4px 0px #408656;
}

h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	margin: 32px 0px 8px;
	font-weight: 600;
	color: $font-color-darker;
	
	&:first-child {
		margin-top: 0;
	}
	
	span {
		@include opacity(0.85);
	}
}

h3, h4, h5, h6 {
	font-style: italic;
	color: $font-color-lighter;
	margin: 16px 0px 8px;
}

@for $i from 2 to 7 {
	h#{$i} {
		font-size: $page-font-size + (6 - $i) * 3;
	}
}

a {
	color: $font-color-lighter;
	text-decoration: underline;
	font-weight: 700;
	font-style: italic;
}

p {
	line-height: 1.5;
	margin: 8px 0;
}

ul:not(.main-menu), ol {
	list-style: none;
	padding: 0 32px;
	margin: 8px 0 16px;
	
	> li {
		margin-top: 4px;
		line-height: 24px;
		
		&:first-child {
			margin-top: 0;
		}
		
		> ol, > ul {
			margin: 4px 0 0;
			padding: 0 32px;
		}
		
		> ol > li:before{
			content: counter(ol-counter, lower-alpha);
		}
		
		&:before {
			content: counter(ol-counter, decimal);
			display: inline-block;
			width: 16px;
			height: 16px;
			background: $list-color;
			border-radius: 20px;
			border: 3px solid $list-color-lighter;
			border-right-color: $list-color-darker;
			border-bottom-color: $list-color-darker;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			font-weight: bold;
			color: white;
			font-family: 'Courier New', monospace;
			text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
			box-shadow: 0px 0px 0px 1px $list-color,
						inset -6px -6px 6px rgba(255, 255, 255, 0.1);
			position: absolute;
			top: 0px;
			left: -28px;
		}
	}
}


ol {
	counter-reset: ol-counter;
	
	> li {
		counter-increment: ol-counter;
	}
}

ul:not(.main-menu) > li:before {
	content: '';
	width: 6px;
	height: 6px;
	top: 6px;
	left: -22px;
}

.badge-description {
	width: calc(50% - 8px);
	height: 48px;
	padding: 2px;
	padding-left: 100px;
	box-sizing: border-box;
	z-index: 0;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 30px 8px 20px 0;
	background: rgba(0, 0, 0, 0.15);
	
	.badge {
		z-index: 1;
		position: absolute;
		bottom: -20px;
		left: 0;
	}
	
	> p {
		width: 100%;
		max-height: 100%;
		line-height: 22px;
		margin: 0;
		text-align: center;
		overflow: hidden;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.fleft { float: left; }
.fright { float: right; }
.clear, .clearfix { clear: both; }