<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Favourhood{% endblock %}</title>
        {% block stylesheets %}
			<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
			<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
			{% stylesheets '@BhBundle/Resources/public/css/*' filter='compass' %}
				<link rel="stylesheet" href="{{ asset_url }} ">
			{% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
<div class="container page-head">
	<h1>Favourhood</h1>
</div>
<ul class="main-menu">
<li>
	<a href="/#home">Home</a>
</li><li>
	<a href="/#badges">Badges</a>
</li><li>
	<a href="/#download">Download</a>
</li><li>
	<a href="/#points">Support charity</a>
</li>
</ul>
        {% block body %}{% endblock %}

<div class="container page-footer">
	<div class="column-3 fleft">
		<h4>Menu</h4>
		<ul class="footer-menu">
			<li>
				<a href="/#home">Home</a>
			</li><li>
				<a href="/#badges">Badges</a>
			</li><li>
				<a href="/#download">Download</a>
			</li><li>
				<a href="/#points">Support charity</a>
			</li>
		</ul>
	</div>
	<div class="column-3 fleft">
		<h4>Authors</h4>
		<ul>
			<li>Justyna Wojtczak</li>
			<li>Aleksandra Wichert</li>
			<li>Krzysztof Hasiński</li>
			<li>Tomasz Ratajczak</li>
		</ul>
	</div>
	<div class="column-3 fleft">
		<img src="/images/battlehack-logo.png" width="230" height="84" />
		<p>
			&copy; BattleHack Warsaw 2014
		</p>
	</div>
	<div class="clearfix"></div>
</div>
        {% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		{% endblock %}
    </body>
</html>
